{% extends 'base.html' %}
{% load static %}
{% block title %}Home | {{ site_setting.site_name }}{% endblock %}

{% block content %}

<br>
<br>
<br>
<br>

<!-- SLIDER START HERE -->
<div id="default-carousel" class="relative w-full" data-carousel="slide">
    
    <!-- Carousel wrapper -->
    <div class="relative h-[550px] overflow-hidden rounded-2xl md:h-[650px]">
        
        {% for rs in slides %}
            <!-- ITEM 1 -->
            <div class="hidden duration-700 ease-in-out" data-carousel-item>
                <img src="{{rs.image.url}}" 
                    class="absolute block w-full h-full object-cover" alt="...">

                <!-- TEXT CONTENT -->
                <div class="absolute inset-0 bg-black/40 flex flex-col items-center justify-center text-center px-4">
                </div>
            </div>
        {% endfor %}




    </div>

    <!-- Slider indicators -->
    <div class="absolute z-30 flex -translate-x-1/2 bottom-5 left-1/2 space-x-3 rtl:space-x-reverse">
        {% for rs in slides %}
        <button type="button" class="w-3 h-3 rounded-full" data-carousel-slide-to="{{ forloop.counter0 }}"></button>
        {% endfor %}
    </div>

    <!-- Slider controls -->
    <button type="button" class="absolute top-0 start-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-lg bg-white/30 group-hover:bg-white/50">
            <svg class="w-5 h-5 text-white rtl:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
            </svg>
        </span>
    </button>

    <button type="button" class="absolute top-0 end-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group" data-carousel-next>
        <span class="inline-flex items-center justify-center w-10 h-10 rounded-lg bg-white/30 group-hover:bg-white/50">
            <svg class="w-5 h-5 text-white rtl:rotate-180" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
            </svg>
        </span>
    </button>

</div>
<!-- SLIDER END HERE -->

<!-- HIGHLIGHT START HERE -->
<section class="py-16 bg-gray-100">
    <div class="max-w-7xl mx-auto px-6">

        <div class="text-center mb-12">
            <h2 class="text-3xl font-extrabold text-red-700 tracking-wide">
                Why {{ site_setting.site_name }} Matters
            </h2>
            <p class="mt-2 text-gray-600 text-lg">
                Empowering athletes with love, support, and opportunities.
            </p>

            <div class="mt-4 flex justify-center">
                <div class="w-24 h-[3px] bg-red-600 rounded-full"></div>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-10">

            {% for h in highlights %}
            <div class="p-8 bg-gray-50 rounded-2xl shadow-md hover:shadow-xl transition">

                <div class="flex items-center justify-center w-14 h-14 bg-red-100 text-red-700
                rounded-full mb-6 text-3xl">
                    <i class="{{ h.icon }}"></i>
                </div>

                <h3 class="text-xl font-bold mb-2">{{ h.title }}</h3>
                <p class="text-gray-600">{{ h.description }}</p>
            </div>
            {% endfor %}

        </div>
    </div>
</section>

<!-- HIGHLIGHT END HERE -->
 
<!-- OUR IMPACT START HERE -->
<section class="py-16 bg-gray-50" id="impactSection">
    <div class="max-w-7xl mx-auto px-6">

        <!-- Heading -->
        <div class="text-center mb-12">
            <h2 class="text-4xl font-extrabold text-red-700">Our Impact</h2>
            <p class="text-gray-600 mt-2 text-lg">
                Creating real change in the lives of specially-abled athletes.
            </p>

            <div class="mt-4 flex justify-center">
                <div class="w-24 h-[3px] bg-red-600 rounded-full"></div>
            </div>
        </div>

        <!-- Impact Stats -->
        <div class="grid grid-cols-1 md:grid-cols-4 gap-10">

            {% for rs in impact_metrics %}
            <!-- Box 1 -->
            <div class="bg-white p-8 rounded-2xl shadow hover:shadow-xl transition text-center">
                <div class="text-red-600 text-5xl mb-4">
                    <i class="{{rs.icon}} text-red-600"></i>
                </div>
                <span class="text-4xl font-bold text-gray-900 count" data-target="{{rs.value}}">0 </span><span class="ml-1 text-4xl font-bold text-gray-900">+</span>
                <p class="mt-2 text-gray-600">{{rs.title}}</p>
            </div>
            {% endfor %}

       



        </div>

    </div>
</section>
<!-- OUR IMPACT END HERE -->





<!-- ABOUT US START HERE -->
<section class="py-16 bg-white" id="aboutHome">
    <div class="max-w-7xl mx-auto px-6">
        {% for rs in aboutpagecontent %}
        <div class="grid grid-cols-1 md:grid-cols-2 gap-10 items-center">
            
            <!-- IMAGE SIDE -->
            <div>
                <img src="{{rs.hero_image.url}}" 
                     alt="Lions Special Olympics"
                     class="w-full h-[320px] md:h-[380px] object-cover rounded-2xl shadow-lg">
            </div>

            <!-- TEXT SIDE -->
            <div>
                <h2 class="text-3xl md:text-4xl font-extrabold text-red-700 mb-4">
                    About {{rs.hero_subtitle}}
                </h2>
                <p class="text-gray-700 leading-relaxed mb-4">
                    {{rs.content}}
                </p>
            

                <!-- READ MORE BUTTON -->
                <a href="{% url 'home:about' %}"
                   class="inline-block bg-red-600 text-white px-6 py-3 rounded-lg shadow hover:bg-red-700 transition text-sm font-semibold">
                    Read More
                </a>
            </div>

        </div>
        {% endfor %}
    </div>
</section>
<!-- ABOUT US END HERE -->

<!-- GALLERY START HERE -->
<section class="py-10 bg-gradient-to-b from-gray-50 to-white" id="galleryHome">
  <div class="max-w-7xl mx-auto px-3">

    <!-- Heading -->
    <div class="text-center mb-1">
      <h2 class="text-3xl md:text-4xl font-extrabold text-red-700">
        Gallery
      </h2>
      <p class="text-gray-600 mt-2 max-w-2xl mx-auto">
        Special moments from Lions Special Olympics events & programs.
      </p>
    </div>

        <!-- Masonry Grid -->
        <div class="columns-1 sm:columns-2 lg:columns-3 gap-5 space-y-5">

        {% for rs in gallery %}
        <div class="break-inside-avoid">

            <!-- Image Wrapper (FIXED HEIGHT) -->
            <div class="relative group h-56 sm:h-64 lg:h-72  
                        overflow-hidden rounded-2xl bg-gray-100 shadow-md"  id="imagePopup">

                    <img src="{{ rs.image.url }}"
            class="gallery-img w-full h-full object-cover object-center
                    transition-transform duration-500
                    group-hover:scale-105 cursor-pointer"
            loading="lazy"
            onclick="openPopup(this.src)"
            alt="Gallery Image">


            </div>

        </div>
        {% endfor %}

        </div>


    <!-- Button -->
    <div class="text-center mt-2">
      <a href="{% url 'home:gallery' %}"
         class="inline-block bg-red-600 text-white px-8 py-3
                rounded-xl shadow-lg hover:bg-red-700
                transition text-lg">
        View Full Gallery
      </a>
    </div>

  </div>
</section>
<!-- GALLERY END HERE -->



<!-- HIGHLIGHTS START HERE -->
<section class="py-14 bg-[#EFEBEB] p-4">
  <h2 class="text-center text-2xl font-semibold mb-8 text-[#A68D2B] font-serif">Lions Olypics - Highlights</h2>
    <div class="flex item-center justify-center">
        <div class="h-[1px] w-16 bg-gray-400"></div>
        <div class="h-[4px] w-14 bg-[#A68D2B] rounded-sm"></div>
        <div class="h-[1px] w-16 bg-gray-400"></div>

    </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 gap-6 max-w-6xl mx-auto px-4 p-4">

            {% for rs in highlights %}
             <div class="flex items-start gap-2 mt-2">
                <span class="text-[#212529]"><i class="fa-solid fa-check-double"></i></span>
                <p class="text-lg text-[#212529]">{{rs.title}}</p>
            </div>        
            {% endfor %}


        </div>
</section>
<!-- HIGHLIGHTS END HERE -->


<!-- LEADERSHIP PARTNERS START HERE -->
<section class="py-16 bg-gradient-to-br from-gray-100 to-gray-200">
  <div class="container mx-auto px-5">
    <h2 class="text-3xl font-bold text-center mb-12 text-gray-800">
      Meet Our Leadership
    </h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">

        {% for member in leadership %}
        <div class="group bg-white/60 backdrop-blur-md p-2 rounded-2xl shadow-xl 
                    hover:shadow-2xl hover:-translate-y-2 duration-300 border border-gray-200">

            <div class="overflow-hidden rounded-xl">
            {% if member.photo %}
            <img src="{{ member.photo.url }}"
                class="w-full h-56 object-cover rounded-lg 
                        group-hover:scale-110 duration-300">
            {% endif %}
            </div>

            <div class="text-center mt-4">
            <h3 class="text-xl font-semibold text-gray-900 
                        group-hover:text-indigo-600 duration-300">
                {{ member.name }}
            </h3>

            <p class="text-gray-500 text-sm mt-1">
                {{ member.designation }}
            </p>

            <p class="text-gray-600 text-sm mt-2">
                {{ member.description |truncatechars:150}}
            </p>
            </div>
        </div>
        {% endfor %}

    </div>


  </div>
</section>
<!-- LEADERSHIP PARTNERS END HERE -->



{% endblock %}
